{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <h3>{% trans 'Write something in the post' %}</h3>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Save' %}">
    </form>

     <link rel="stylesheet"
           href="https://underovsky.com/showcase/jquery-tagsinput-revisited/src/jquery.tagsinput-revisited.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="{% static 'js/tags.js' %}"></script>
{% endblock %}
